.Navbar {
  /* height:12vh; */
  padding: 2vh;
  padding-bottom: 2vh;
}

button {
    font-weight: 700;
    color: #cbc9c9;
    border-color: #664e96;
    background: transparent;
  }
button:hover {
    color: white;
    background: #664e96;
    border-color: #664e96;
  }

  button {
    cursor: pointer;
    outline: none;
  }
  button.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    
    margin-top:5px;
  }
  button.outline a {
    text-decoration: none;
  }
  button.outline:hover {
    border-color: white;
    background: #2c009c;
    transition: all 0.2s linear;
  }
  button.outline:active {
    border-radius: 22px;
  }